.main{
    background-image: url(images/7.png);
    display: flex;
    padding-top: 100px;
    background-position: left;
    margin: 0 -10px;

}
.child{
    text-align: center;
    width: 50%;
}
.child img{
    width: 40%;
}
.child1{
    width: 60%;
    text-align: justify;
    padding-top: 10px;
    padding-left: 10px;
}
.child1 h1{
    font-size: 40px;
    opacity: 0.7;
}
.child1 p{
    font-size: 20px;
    line-height: 25px;
    word-spacing: -1px;
}
.child1 a{
    background-color: rgba(255, 68, 0, 0.767);
    padding: 20px 35px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.main1{
    display: flex;
    width: 80%;
    margin: 50px auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px lightgray;
    line-height: 2px;
}
.main1 h1{
    font-size: 50px;
    font-weight: 900;
}